
/********************************************************/
/** Padding */

.padding-bottom-64 {
  padding-bottom: 64px;
}

.padding-left-16 {
  padding-left: 16px;
}

.padding-left-24 {
  padding-left: 24px;
}

.padding-left-32 {
  padding-left: 32px;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-top-12 {
  padding-top: 12px;
}

.padding-top-16 {
  padding-top: 16px;
}


/********************************************************/
/** Margin */

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-4 {
  margin-top: 4px;
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-top-64 {
  margin-top: 64px;
}

.margin-top-128 {
  margin-top: 128px;
}
