/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --color-blue-dark: #001D2F;
  --color-white-tenue: #DDDDDD;
  --color-red: #E94867;
  --color-green: #00B894;

  --table-header-bg: #353b48;
  --table-header-fg: #EFEFEF;
}

body {
  font-family: 'Lato', 'Calibri', 'sans-serif';
}


/*****************************************************/
/** Navbar */

.navbar {
  background: var(--color-blue-dark);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: var(--color-white-tenue) !important;
}

.navbar-inverse .navbar-brand {
  color: var(--color-white-tenue);
}


/*****************************************************/
/** Bootstrap tables */

.table {
  /*border: 1px solid var(--table-header-bg);*/
  /*border-top-left-radius: 8px;*/
  /*border-top-right-radius: 8px;*/
  /*border-collapse: separate !important;*/

  /*box-shadow: 0px 2px 5px 0px rgba(133,133,133,0.8);*/
}

.table thead {
  background: var(--table-header-bg);
  /*border-top-left-radius: 8px;*/
  /*border-top-right-radius: 8px;*/
  /*border-collapse: separate !important;*/
}

.table thead > tr > th {
  border-bottom: none;
  border-top: none;
  color: var(--table-header-fg);
  font-weight: 300;
  padding-bottom: 16px;
  padding-top: 16px;
}

.table thead > tr > th > .control-label {
  font-weight: normal;
}

.table thead > tr:first-child > th:first-child {
  /*border-top-left-radius: 4px;*/
}

.table thead > tr:first-child > th:last-child {
  /*border-top-right-radius: 4px;*/
}

.table > thead .form-control {
  background: #f4f4fb;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.table > thead .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.table > tbody > tr {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.table > tbody > tr:last-child {
  border-bottom: 1px solid #DDD;
}

.table > tbody > tr > td {
  padding-bottom: 16px;
  padding-top: 16px;
}

.table-compat thead > tr > th {
  padding-bottom: 4px;
  padding-top: 4px;
}

/*****************************************************/
/** Bootstrap paginator */

.pagination {
  margin-top: 0;
}

.pagination > .active > span {
  background-color: var(--table-header-bg);
  border-color: var(--table-header-bg);
}

.pagination > li > a > span {
  color: var(--table-header-bg);
}


/*****************************************************/
/** Bootstrap buttons */

.btn-primary,
.btn-primary:active:focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #FF5A60 !important;
  border: none;
  /*border: 1px solid #333333 !important;*/
  /*!*border-radius: 10px !important;*!*/
  color: #FFF !important;
  font-size: 0.97em;
  /*text-transform: uppercase;*/
  outline: none !important;
  padding: 8px 24px !important;
  letter-spacing: 0.6px;
}

.btn-success,
.btn-success:active:focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  background: var(--color-green) !important;
  border: none;
  /*border: 1px solid #333333 !important;*/
  /*!*border-radius: 10px !important;*!*/
  color: #FFF !important;
  font-size: 0.97em;
  /*text-transform: uppercase;*/
  outline: none !important;
  padding: 8px 24px !important;
  letter-spacing: 0.6px;
}
