/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body,
.main-background {
  background: #ecf0f1;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  overflow-y: auto !important;
}

/*****************************************************/
/** Global */

td {
  vertical-align: middle !important;
}

.cur-pointer {
    cursor: pointer;
}

.container {
  /*padding-top: 56px;*/
}


/*****************************************************/
/** Colors */

.color-red {
  color: #E74C3C;
}


/*****************************************************/
/** Navbar */

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


/*****************************************************/
/** Autosuggestion container */

.react-autosuggest__suggestions-container--open {
  background: #FAFAFA;
  padding: 8px 0;
  position: absolute;
  width: calc(100% - 30px);
  z-index: 1;
}

.react-autosuggest__suggestions-list {
  list-style: none none;
  padding: 0;
}

.suggestion-item {
  cursor: pointer;
  padding: 8px 16px;
}

.suggestion-item:hover {
  background: #EEEEEE;
}
